body { min-width: 1200px;}
#header_menu { background: #F5F5F5; height: 37px; line-height: 36px; color: #666; border-bottom: 1px solid #E3E3E3;}
#header_menu a { color: #666; margin-right: 5px; font-size: 12px;}
#header_menu a:hover { text-decoration: underline;}
#header { background: #FFF; min-height: 120px; }

/*导航*/
#navigation { margin-top: 32px; }
#navigation>li { float: right; position: relative; }
#navigation>li>a { display: block; line-height: 56px; width: 114px; text-align: center; color: #3287BE; font-size: 18px; }
#navigation>li:hover>a ,#navigation>li>a:hover ,#navigation .current{ font-weight: bold; background: #3287BE; text-decoration: none; color: #FFF; }
#navigation .sub { display: none; position: absolute; left: 0; background: #3287BE; z-index: 99999; width: 100%; text-align: center; }
#navigation .sub li { background: none; float: none; }
#navigation .sub li a { display: block; height: 30px; line-height: 30px; font-size: 12px; font-weight: normal; color: #FFF; }
#navigation .sub li a:hover { background: #3287BE; }

#search { background: #F3F4F3; height: 54px; line-height: 53px; border-bottom: 1px solid #DDD; }
#search .container { position: relative; }
#search_key { border: 1px solid #DBDCDB; height: 36px; line-height: 36px; padding: 0 15px; width: 260px; position: absolute; right: 100px; top: 7px; background: #FFF; color: #AAA; }
#search_btn { background: #E33; height: 36px; width: 100px; ; position: absolute; right: 0; top: 7px; color: #FFF; cursor: pointer; }

.current_location { background: #EEE; height: 40px; line-height: 40px; padding: 0 10px; margin-bottom: 10px; margin-top: 10px; }
.current_location a.current { color: red; }

#banner { position: relative; margin-bottom: 10px; }
#banner .bd li { }
#banner .hd ul { width: 100%; position: absolute; z-index: 1; bottom: 0; left: 0; height: 30px; line-height: 30px; text-align: center; }
#banner .hd ul li { cursor: pointer; display: inline-block; zoom: 1; width: 30px; height: 8px; margin-right: 2px; background: #FFF; overflow: hidden; line-height: 9999px; }
#banner .hd ul .on { width: 60px; background: #3287BE; }
#banner .container { }
#banner .container a { display: block; }
#banner .next, #banner .prev { position: absolute; top: 0; width: 68px; color: #FFF; line-text-align: center; cursor: pointer; }
#banner .next { right: 80px; background: url(next.png)/*tpa=http://127.0.0.1/skins/1/images/next.png*/ center no-repeat;}
#banner .prev { left: 80px; background: url(prev.png)/*tpa=http://127.0.0.1/skins/1/images/prev.png*/ center no-repeat;}

.channel_list li { margin-bottom: 2px; }
.channel_list li a { display: block; background: #EEE; line-height: 40px; padding: 0 10px; }
.channel_list li a:hover { background: #3287BE; color: #FFF; text-decoration: none; }
.channel_list li a.current { background: #3287BE; color: #FFF; text-decoration: none; }
.channel_wlist { overflow: hidden; margin-bottom: 10px; }
.channel_wlist li { float: left; margin-right: 10px; }
.channel_wlist li a { display: block; height: 40px; line-height: 40px; background: #EEE; padding: 0 30px; }
.channel_wlist li a:hover { background: #3287BE; color: #FFF; }
.channel_wlist li a.current { background: #3287BE; color: #FFF; }

.hd1 { background: #EEE; height: 40px; line-height: 40px; padding: 0 14px; font-size: 16px; border-left: 10px solid #3287BE; }
.bd1 { padding: 10px 0; overflow: hidden; zoom: 1; margin-bottom: 20px; }
.hd2 { background: #EEE; height: 40px; line-height: 40px; padding: 0 14px; font-size: 16px; border-left: 10px solid #3287BE; }
.bd2 { padding: 10px 0; overflow: hidden; zoom: 1; margin-bottom: 20px; }


.page_show { margin: 20px 0; text-align: center; }
.page_show a, .page_show span { display: inline-block; height: 40px; line-height: 40px; min-width: 40px; text-align: center; background: #F2F2F2; margin-right: 2px; }
.page_show a:link, .page_show a:visited { text-decoration: none; }
.page_show a:hover, .page_show a.current { background: #3287BE; color: #FFF; }

.article_slist {}
.article_slist li { border-bottom: 1px solid #EEE; height: 50px; line-height: 50px; font-size: 16px;}

.article_dlist {}
.article_dlist .wrap { border: 1px solid #EEE; padding: 20px; margin-bottom: 20px;}
.article_dlist .title { border-bottom: 1px solid #EEE; line-height: 50px; height: 50px; font-size: 18px;}
.article_dlist .content { padding: 10px 0; color: #666; }
.article_dlist .intro { padding: 10px; background: #FAFAFA;}

.article_wlist .wrap { border: 1px solid #EEE; padding: 10px; margin-bottom: 5px;}
.article_wlist .wrap a { display: block; font-size: 16px; }
.article_wlist .wrap:hover { background: #3287BE; color: #FFF;}
.article_wlist .wrap:hover a { color: #FFF !important;}

.picture_slist {}
.picture_slist .wrap { margin-bottom: 20px; }
.picture_slist .thumbnail { transition: all .5s ease 0s; }
.picture_slist .wrap:hover .thumbnail { transform: scale(1.1, 1.1); }
.picture_slist .picture { border: 1px solid #EEE; padding: 5px; text-align: center; overflow: hidden; }
.picture_slist .title { line-height: 36px; text-align: center; }

.picture_dlist {}
.picture_dlist .wrap { border: 1px solid #EEE; padding: 20px; margin-bottom: 20px;}
.picture_dlist .wrap .thumbnail { transition: all .5s ease 0s; }
.picture_dlist .wrap:hover .thumbnail { transform: scale(1.1, 1.1); }
.picture_dlist .picture { border: 1px solid #EEE; padding: 5px; text-align: center; overflow: hidden; }
.picture_dlist .title { border-bottom: 1px solid #EEE; line-height: 40px; height: 40px; font-size: 18px; }
.picture_dlist .content { padding: 10px 0; color: #666; font-size: 12px; }
.picture_dlist .intro { padding: 10px; background: #FAFAFA;}

.picture_wlist {}
.picture_wlist .wrap { margin-bottom: 40px; }
.picture_wlist .wrap .thumbnail { transition: all .5s ease 0s; }
.picture_wlist .wrap:hover .thumbnail { transform: scale(1.1, 1.1); }
.picture_wlist .picture { border: 1px solid #EEE; padding: 5px; text-align: center; overflow: hidden; }
.picture_wlist .title { line-height: 36px; text-align: center; font-size: 16px; }

#channel_slideshow { margin: 20px 0; }
#channel_slideshow .bd img { width: 100%; border: 1px solid #EEE; padding: 10px; }
#channel_slideshow .hd { margin-top: 10px; }
#channel_slideshow .hd li .img { border: 1px solid #EEE; padding: 3px; cursor: pointer; }
#channel_slideshow .hd .on .img { border: 1px solid #3287BE; }
#channel_content { font-size: 16px;}
#channel_content p { font-size: 16px; line-height: 2.2;}

#info_title { font-size: 24px; line-height: 50px; }
#info_intro { background: #EEE; color: #999; padding: 0 10px; line-height: 40px; font-size: 12px; background: linear-gradient(to right, #EEE, #FFF); }
#info_content {padding: 20px 0; font-size: 16px;}
#info_content p { font-size: 16px; line-height: 2.2;}
#info_around { padding: 20px; background: #F5F5F5; line-height: 26px; border: 1px solid #CCCCCC; margin-bottom: 20px; }
#info_picture { margin: 20px 0; }
#info_picture img { padding: 5px; border: 1px solid #EEE; }
#info_tab { margin: 20px 0;}
#info_tab .hd li { float: left; display: block; cursor: pointer; height: 40px; line-height: 40px; padding: 0 40px; margin-right: 2px; background: #EEE; }
#info_tab .hd li.on { background: #3287BE; color: #FFF; }
#info_tab .bd { margin-top: 20px; }

#info_slideshow { margin: 20px 0; }
#info_slideshow .bd img { width: 100%; border: 1px solid #EEE; padding: 10px; }
#info_slideshow .hd { margin-top: 10px; }
#info_slideshow .hd li .img { border: 1px solid #EEE; padding: 3px; cursor: pointer; }
#info_slideshow .hd .on .img { border: 1px solid #3287BE; }



#info_parmeter { margin: 20px 0; }
#info_parmeter ul li { line-height: 40px; border-bottom: 1px solid #EEE;}

#info_paremeter li { border-bottom: 1px solid #EEE; line-height: 40px;}

#info_video { margin-top: 20px;}
#info_video embed { width: 100%; height: 540px;}

.recruitment_list .wrap { border: 1px solid #EEE; padding: 50px; margin-bottom: 20px; font-size: 16px;}
.recruitment_list .wrap ul>li { border-bottom: 1px solid #EEE; padding: 10px 0; }
.recruitment_list .wrap>.content { display: none; padding: 10px; border: 1px solid #EEE; }

#footer { background: #3287BE; padding: 20px 0; margin-top: 20px; color: #FFF;}
#footer a { color: #FFF;}

.index_case .wrap { border: 1px solid #EEE; padding: 10px; margin-bottom: 2px;}
.index_case .bd { margin-top: 10px; }
.index_case .bd .content{ font-size: 12px; color: #999; }
.index_case .on{ background: #FAFAFA; }

#float { z-index: 9999; position: absolute; display: block; bottom: 5px; right: 5px; }
#float .wrap { margin-bottom: 2px; position: relative;  background: #FFF; border: 1px solid #EEE; z-index: 999; height: 50px;}
#float .wrap:hover { background: #F3F3F3; border: 1px solid #DDD;}
#float .icon { cursor: pointer; width: 50px; display: block; text-align: center; color: #333; font-size: 20px; padding-top: 8px; }
#float .name { cursor: pointer; color: #333; font-size: 12px; text-align: center; margin-top: 3px; }
#float .content { border: 1px solid #DDD; min-height: 48px; line-height: 48px; font-size: 18px; text-align: center; min-width: 200px; position: absolute; right: 52px; top: -1px; display: none; background: #FFF; box-shadow: 0 0 10px #EEE;}
#float .content a { }

.hdi { background: #EEE; height: 40px; line-height: 40px; padding: 0 14px; font-size: 16px; border-left: 10px solid #3287BE; }
.hdi .more a { display: block; height: 40px; background: #3287BE; padding: 0 10px; color: #FFF; font-size: 12px;}
.hdi .more a:hover { background: #3287BE; }
.bdi { padding: 10px 0; overflow: hidden; zoom: 1; margin-bottom: 20px; }

#register_wrap { box-shadow: 4px 4px 10px #CCC; padding: 60px; margin-top: 20px;}
#login_wrap { box-shadow: 4px 4px 10px #CCC; padding: 60px; margin-top: 20px;}
#member_wrap { box-shadow: 4px 4px 10px #CCC; padding: 30px; margin-top: 20px; }

#index-1 { padding: 50px 0; background: #F3F3F3; }
#index-1 .caname { text-align: center; font-size: 40px; font-family: impact; color: #666666; text-transform: uppercase;}
#index-1 .cname { text-align: center; }
#index-1 .cname span { font-size: 32px; display: inline-block; padding: 20px 0; border-bottom: 3px solid #3287BE; margin-bottom: -2px; }
#index-1 .cline { height: 2px; background: #E6E6E6; }
#index-1 .cseoname { text-align: center; font-size: 16px; color: #666666; padding: 20px 0; }

#index-1 .clist .clistname { background: #3287BE; text-align: center; height: 60px; line-height: 60px; color: #FFF; font-size: 26px; }
#index-1 .clist ul { background: #FFF; padding: 19px; border: 1px solid #3287BE; min-height: 610px; }
#index-1 .clist ul li { margin-bottom: 4px; }
#index-1 .clist ul li a { display: block; background: #EDEDED; line-height: 40px; text-align: center; font-size: 16px; }
#index-1 .clist ul li a:hover { background: #3287BE; color: #FFF; }
#index-1 .plist .wrap { background: #FFF; padding: 9px; border: 3px solid #EEE; margin-bottom: 20px; }
#index-1 .plist .wrap .products_thumbnail { transition: all 1s ease 0s; }
#index-1 .plist .wrap:hover .products_thumbnail { transform: scale(1.1, 1.1); }
#index-1 .plist .wrap .picture { overflow: hidden; }
#index-1 .plist .title { line-height: 40px; text-align: center; }

#index-2 { padding: 50px 0; background: #FFF; }
#index-2 .caname { text-align: center; font-size: 40px; font-family: impact; color: #666666; text-transform: uppercase;}
#index-2 .cname { text-align: center; }
#index-2 .cname span { font-size: 32px; display: inline-block; padding: 20px 0; border-bottom: 3px solid #3287BE; margin-bottom: -2px; }
#index-2 .cline { height: 2px; background: #E6E6E6; }
#index-2 .cseoname { text-align: center; font-size: 16px; color: #666666; padding: 20px 0; }

#index-3 { padding: 50px 0; background: #F3F3F3; }
#index-3 .caname { text-align: center; font-size: 40px; font-family: impact; color: #666666; text-transform: uppercase;}
#index-3 .cname { text-align: center; }
#index-3 .cname span { font-size: 32px; display: inline-block; padding: 20px 0; border-bottom: 3px solid #3287BE; margin-bottom: -2px; }
#index-3 .cline { height: 2px; background: #E6E6E6; }
#index-3 .cseoname { text-align: center; font-size: 16px; color: #666666; padding: 20px 0; }

#index-4 { padding: 50px 0; background: #FFF; }


.nlist {}
.nlist .wrap { background: #FFF; border-radius: 0 0 20px 0; }
.nlist .wrap .date { height: 100px; background: #666666; color: #FFF; text-align: center;  }
.nlist .wrap .date .day { font-size: 22px; padding-top: 20px; }
.nlist .wrap .content { padding: 15px; height: 100px; }
.nlist .wrap .content .title { font-size: 18px; }
.nlist .wrap .content .scontent { margin-top: 10px; }

.nlist .wrap:hover .date { background: #3287BE; transition: all .5s ease 0s; transform: scale(1.2, 1.2); }

#channel_cover { text-align: center;}